body {
  background: linear-gradient(to bottom right, #3f00f1, #5502e4, #ff1585);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.btn1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  gap: 10px;
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
